*.DS_STORE
*.DS_Store
__pycache__/
env/
myEnv/
*.pyc
*.sqlite3
*.rdb
*.db
Intermediate Work/.DS_Store

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Intermediate Work/Code/backend/application/env_keys.py
Intermediate Work/Code/backend/application/.env
Milestone-6-Final-Submission/Code/backend/application/.env
